$background:    #19171c;
$foreground:    #efecf4;
$string:        #2a9292;
$keyword:       #955ae7;
$comment:       #655f6d;
$type:          #576ddb;
$literal:       #aa573c;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    #be4678;
$markup_attr_n: #aa573c;
$markup_attr_v: #398bc6;
$declaration:   #aa573c;
$variable:      #be4678;
$function:      #576ddb;
