$background:    #202746;
$foreground:    #f5f7ff;
$string:        #ac9739;
$keyword:       #6679cc;
$comment:       #6b7394;
$type:          #3d8fd1;
$literal:       #c76b29;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    #c94922;
$markup_attr_n: #c76b29;
$markup_attr_v: #22a2c9;
$declaration:   #c76b29;
$variable:      #c94922;
$function:      #3d8fd1;
