$background:    #f4ecec;
$foreground:    #1b1818;
$string:        #4b8b8b;
$keyword:       #8464c4;
$comment:       #7e7777;
$type:          #7272ca;
$literal:       #b45a3c;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    #ca4949;
$markup_attr_n: #b45a3c;
$markup_attr_v: #5485b6;
$declaration:   #b45a3c;
$variable:      #ca4949;
$function:      #7272ca;
