$background:    #fefbec;
$foreground:    #20201d;
$string:        #60ac39;
$keyword:       #b854d4;
$comment:       #999580;
$type:          #6684e1;
$literal:       #b65611;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    #d73737;
$markup_attr_n: #b65611;
$markup_attr_v: #1fad83;
$declaration:   #b65611;
$variable:      #d73737;
$function:      #6684e1;
