$background:    #f4fbf4;
$foreground:    #131513;
$string:        #29a329;
$keyword:       #ad2bee;
$comment:       #809980;
$type:          #3d62f5;
$literal:       #87711d;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    #e6193c;
$markup_attr_n: #87711d;
$markup_attr_v: #1999b3;
$declaration:   #87711d;
$variable:      #e6193c;
$function:      #3d62f5;
