$background:    #1b181b;
$foreground:    #f7f3f7;
$string:        #918b3b;
$keyword:       #7b59c0;
$comment:       #776977;
$type:          #516aec;
$literal:       #a65926;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    #ca402b;
$markup_attr_n: #a65926;
$markup_attr_v: #159393;
$declaration:   #a65926;
$variable:      #ca402b;
$function:      #516aec;
