$background:    #22221b;
$foreground:    #f4f3ec;
$string:        #7d9726;
$keyword:       #5f9182;
$comment:       #6c6b5a;
$type:          #36a166;
$literal:       #ae7313;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    #ba6236;
$markup_attr_n: #ae7313;
$markup_attr_v: #5b9d48;
$declaration:   #ae7313;
$variable:      #ba6236;
$function:      #36a166;
