$background:    #171c19;
$foreground:    #ecf4ee;
$string:        #489963;
$keyword:       #55859b;
$comment:       #5f6d64;
$type:          #478c90;
$literal:       #9f713c;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    #b16139;
$markup_attr_n: #9f713c;
$markup_attr_v: #1c9aa0;
$declaration:   #9f713c;
$variable:      #b16139;
$function:      #478c90;
