$background:    #ebf8ff;
$foreground:    #161b1d;
$string:        #568c3b;
$keyword:       #6b6bb8;
$comment:       #7195a8;
$type:          #257fad;
$literal:       #935c25;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    #d22d72;
$markup_attr_n: #935c25;
$markup_attr_v: #2d8f6f;
$declaration:   #935c25;
$variable:      #d22d72;
$function:      #257fad;
