$background: #002451;
$foreground: #ffffff;
$comment:    #7285b7;

$red:        #ff9da4;
$orange:     #ffc58f;
$yellow:     #ffeead;
$green:      #d1f1a9;
$aqua:       #99ffff;
$blue:       #bbdaff;
$purple:     #ebbbff;
