$background: #000000;
$foreground: #eaeaea;
$comment:    #969896;

$red:        #d54e53;
$orange:     #e78c45;
$yellow:     #e7c547;
$green:      #b9ca4a;
$aqua:       #70c0b1;
$blue:       #7aa6da;
$purple:     #c397d8;
