$background:    #2f3640;
$foreground:    #e6e9ed;
$string:        #ffce54;
$keyword:       #4fc1e9;
$comment:       #656d78;
$type:          #4fc1e9;
$literal:       #ac92ec;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    #ed5565;
$markup_attr_n: #a0d468;
$markup_attr_v: #ffce54;
$declaration:   #ac92ec;
$variable:      $foreground;
$function:      $foreground;
$linenums:      #656d78;
