/**
 * tranquil-heart.css
 * a google-code-prettify theme
 * colors tintui.com/flattastic.html
 */
pre .str, code .str { color: #FFCE54; } /* string */
pre .kwd, code .kwd { color: #4FC1E9; } /* keyword */
pre .com, code .com { color: #656D78; font-style: italic; } /* comment */
pre .typ, code .typ { color: #4FC1E9; } /* type */
pre .lit, code .lit { color: #AC92EC; } /* literal */
pre .pun, code .pun { color: #E6E9ED; } /* punctuation */
pre .pln, code .pln { color: #E6E9ED; } /* plaintext */
pre .tag, code .tag { color: #ED5565; } /* html/xml tag */
pre .atn, code .atn { color: #A0D468; } /* html/xml attribute name */
pre .atv, code .atv { color: #FFCE54; } /* html/xml attribute value */
pre .dec, code .dec { color: #AC92EC; } /* decimal */
pre.prettyprint, code.prettyprint {
	background-color: #2F3640;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
	-ms-border-radius:0;
	-khtml-border-radius:0;
	border-radius:0;
}
pre.prettyprint {
	width: 100%;
	white-space: pre-wrap;
	background: #2F3640;
	border: 0 solid transparent;
	overflow-x: scroll;
	overflow-y: auto;
	margin: 1em auto;
	padding: 1em;
}
pre.prettyprinted {
	box-shadow: none;
	border: 0;
}
ol.linenums {
	list-style: decimal outside;
	color: #656D78;
	border-left: 1px solid #656D78;
	margin: 0 0 0 3em;
	padding: 0;
}
ol.linenums li {
	line-height: 1.500;
	padding-left: .8em;
}
@media print {
	pre.prettyprinted, pre.prettyprint, code.prettyprint {
		background-color:#FFF;
		color:#000;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		-o-border-radius:0;
		-ms-border-radius:0;
		-khtml-border-radius:0;
		border-radius:0;
	}
	pre .str, code .str { color: #060; }
	pre .kwd, code .kwd { color: #006; font-weight: bold; }
	pre .com, code .com { color: #600; font-style: italic; }
	pre .typ, code .typ { color: #404; font-weight: bold; }
	pre .lit, code .lit { color: #044; }
	pre .pun, code .pun { color: #440; }
	pre .pln, code .pln { color: #000; }
	pre .tag, code .tag { color: #006; font-weight: bold; }
	pre .atn, code .atn { color: #404; }
	pre .atv, code .atv { color: #060; }
}
