$string:        $green;
$keyword:       $purple;
$type:          $blue;
$literal:       $orange;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    $red;
$markup_attr_n: $orange;
$markup_attr_v: $aqua;
$declaration:   $orange;
$function:      $blue;
$variable:      $red;
