$string:        $accent2;
$keyword:       $accent2;
$type:          $accent3;
$literal:       $accent1;
$punctuation:   $foreground;
$open_bracket:  $foreground;
$close_bracket: $foreground;
$markup_tag:    $foreground;
$markup_attr_n: $accent2;
$markup_attr_v: $accent3;
$declaration:   $foreground;
$variable:      $foreground;
$function:      $accent1;
