// Base16 color schemes
// https://github.com/chriskempson/base16
$base00: #181818;
$base01: #282828;
$base02: #383838;
$base03: #585858;
$base04: #b8b8b8;
$base05: #d8d8d8;
$base06: #e8e8e8;
$base07: #f8f8f8;
$base08: #ab4642;
$base09: #dc9656;
$base0a: #f7ca88;
$base0b: #a1b56c;
$base0c: #86c1b9;
$base0d: #7cafc2;
$base0e: #ba8baf;
$base0f: #a16946;

$color-magnetic-blue: #26a7c3;

$color-text: $base00;
$color-border: $base07;
$color-link: $color-magnetic-blue;
